<html>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet"> 
    <script>
      var Chartkick = {"language": "en"};
    </script>
    <script src="http://www.google.com/jsapi"></script>
    <script src="js/chartkick.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>