body{
	background-color:#444;
}
.graph-container{
	width:100%;
	text-align:center;
}
.graph-border{
  border:1px solid #e3e3e3;
  border-radius:4px;
  background-color:#fff;
  padding-right:10px;
  padding-left:10px;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:5px;
  margin-bottom:10px;
  max-width:1200px;
}
.graph-seperator{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:40px;
	margin-right:40px;
}
.graph-metrics{
	margin-left:20px;
	margin-right:20px;
	text-align:center;
	display:inline-block;
}
.graph-metric{
	margin-left:20px;
	margin-right:20px;
	display:inline-block;
}
.grey{
	color:#666;
}
h3.section-divider{
  background-color: #666;
  color: white;
  margin-top:30px;
  margin-bottom:15px;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}
h3{
	font-weight:300;
}
h4{
	color:#555;
}
.flash{
	color:red;
}
.date-input{
	width:100px;
	margin-left:auto;
	margin-right:auto;
}

/*
// NOTE: media queries not working will chartkick, 
// which is slow to re-adjust its width on page width change
@media screen and (min-width: 1222px) {
	.graph-border{
		max-width:800px;
		min-width:600px;
		width:100%;
		display:inline-table;
	}
}

@media screen and (max-width: 1220px) {
	.graph-border{
		width:100%;
		max-width:1200px;
		display:block;
	}
}
*/